In [1]:
# importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import warnings
from warnings import filterwarnings
filterwarnings('ignore')

In [6]:
# import csv file
# create a function to keep the data frame
sales1 = pd.read_csv(r'D:\One Drive\OneDrive\data analysis\SQL y bases de datos\Grocery Sales Database Kaggle\archive/sales.csv')

In [7]:
# Checking the dimensions of the data frame
sales1.shape

(6758125, 9)

In [12]:
sales1.head(5)

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,TotalPrice,SalesDate,TransactionNumber
0,1,6,27039,381,7,0.0,0.0,2018-02-05 07:38:25.430,FQL4S94E4ME1EZFTG42G
1,2,16,25011,61,7,0.0,0.0,2018-02-02 16:03:31.150,12UGLX40DJ1A5DTFBHB8
2,3,13,94024,23,24,0.0,0.0,2018-05-03 19:31:56.880,5DT8RCPL87KI5EORO7B0
3,4,8,73966,176,19,0.2,0.0,2018-04-07 14:43:55.420,R3DR9MLD5NR76VO17ULE
4,5,10,32653,310,9,0.0,0.0,2018-02-12 15:37:03.940,4BGS0Z5OMAZ8NDAFHHP3

In [8]:
# Checking the null values
# all_data.isnull()

sales1.isnull().sum()

SalesID                  0
SalesPersonID            0
CustomerID               0
ProductID                0
Quantity                 0
Discount                 0
TotalPrice               0
SalesDate            67526
TransactionNumber        0
dtype: int64

In [9]:
# Checking the duplicated values
# we notice that there are 618 rows duplicate
sales1.duplicated().sum()

0

In [10]:
# import csv file
# create a function to keep the data frame
products1 = pd.read_csv(r'D:\One Drive\OneDrive\data analysis\SQL y bases de datos\Grocery Sales Database Kaggle\archive/products.csv')

In [11]:
products1.shape

(452, 9)

In [13]:
products1.head(5)

,ProductID,ProductName,Price,CategoryID,Class,ModifyDate,Resistant,IsAllergic,VitalityDays
0,1,Flour - Whole Wheat,74.2988,3,Medium,2018-02-16 08:21:49.190,Durable,Unknown,0.0
1,2,Cookie Chocolate Chip With,91.2329,3,Medium,2017-02-12 11:39:10.970,Unknown,Unknown,0.0
2,3,Onions - Cippolini,9.1379,9,Medium,2018-03-15 08:11:51.560,Weak,False,111.0
3,4,"Sauce - Gravy, Au Jus, Mix",54.3055,9,Medium,2017-07-16 00:46:28.880,Durable,Unknown,0.0
4,5,Artichokes - Jerusalem,65.4771,2,Low,2017-08-16 14:13:35.430,Durable,True,27.0

In [14]:
# merge both tables on ProductID 
merged = sales1.merge(products1, on = 'ProductID', how='left')

# calculate TotalPrice with discount
merged['TotalPrice'] = (merged['Quantity'] * merged['Price']) * (1 - merged['Discount'].fillna(0))

In [16]:
# update the original sales dataset
sales1['TotalPrice'] = merged['TotalPrice']

In [17]:
sales1.head(5)

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,TotalPrice,SalesDate,TransactionNumber
0,1,6,27039,381,7,0.0,309.63590,2018-02-05 07:38:25.430,FQL4S94E4ME1EZFTG42G
1,2,16,25011,61,7,0.0,437.82200,2018-02-02 16:03:31.150,12UGLX40DJ1A5DTFBHB8
2,3,13,94024,23,24,0.0,1896.44160,2018-05-03 19:31:56.880,5DT8RCPL87KI5EORO7B0
3,4,8,73966,176,19,0.2,1236.01384,2018-04-07 14:43:55.420,R3DR9MLD5NR76VO17ULE
4,5,10,32653,310,9,0.0,719.80200,2018-02-12 15:37:03.940,4BGS0Z5OMAZ8NDAFHHP3

In [ ]:
# Optional: Save it back to CSV
sales1.to_csv('sales1_updated.csv', index=False)

In [26]:
sales1.to_csv('sales1_updated.csv', index=False)

In [28]:
sales1.to_csv(r'C:\Users\Luis Chavez\Desktop\sales1_updated.csv')